.revisado-home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.homeHeader{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    width: 100%;
    gap: 35px;

    padding: 25px;
    font-weight: 700;
}

.revisado-home{
    width: 200px;
}
@media (max-width: 1030px){
    .homeHeader{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        width: 100%;
        gap: 35px;

        font-weight: 700;
    }

    .revisado-home{
        width: 30vw;
    }
}



.headerButtonsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    flex-basis: 600px;
    width: 100%;

    vertical-align: middle;
}


button{
    font-size: 15px;
    all: unset;
    cursor: pointer;
    margin: 10px;
    text-decoration: none !important;
    color: inherit;
}

.loginButton{
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: white;
    font-weight: 700;
    background-color: #17CE82;
    padding: 7px 30px;
    border-radius: 30px;
}

.navBarButtons{
    /* min - val - max */
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.Hero{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 150px 50px;
}

.heroLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    font-weight: 400;
    font-size: clamp(25px, 3.5vw, 45px);
    
}
.heroImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vw;
    max-height: 400px;
    min-height: 100px;
    aspect-ratio: 1/1;
}