.form{
    height: 100%;
}
.form > textarea{
    height: 100%;
    width: 100%;
    background-color: rgb(59, 59, 59);
}
.form > ::placeholder{
    color: rgb(99, 99, 99);
}


.opinionBox{
    padding-top: 20px;
    height: 110px;
    width: 100%;
}

.tempForm{
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}
