.cardContainer{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;

    justify-content: center;
    align-items: center;

    gap: 5px;

    background-color: #ffffff;

    padding-bottom: 10px;

    border-radius: 25px;
    box-shadow: 3px 5px 16px 7px rgba(0,0,0,0.07);
    -webkit-box-shadow: 3px 5px 16px 7px rgba(0,0,0,0.07);
    -moz-box-shadow: 3px 5px 16px 7px rgba(0,0,0,0.07);
}
.cardContainer > * {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}

.card-img{
    padding: 20px;
    padding-bottom: 0;
    height: 250px;
}

.card-brand{font-size: 20px;}

.card-modelName{font-size: 30px;}

.card-price{font-size: 40px; color: #16CE82;}

.button1-revisado{
    font-size: 20px;
    color: white;
    font-weight: 700;
    background: linear-gradient(145deg, #19dc8b, #15b975);  
    height: 40px;
    width: 150px;
    border-radius: 30px;
}
.button1-revisado:hover{background: linear-gradient(20deg, #19dc8b, #10955d);  }