.allPages{
  width: 100%;
  height: auto;
  font-family: 'Quicksand', sans-serif;

}

.pageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding-bottom: 50px;

}
.pageContent{
  min-height: 90vh;
  height: auto;
  max-width: 1200px;
  width: 90vw;

  margin-top: 30px;
  padding-bottom: 25px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #FCFCFC;

  border-radius: 25px;
  box-shadow:         4px 0px 15px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 4px 0px 15px 0px rgba(0,0,0,0.20);
  -moz-box-shadow:    4px 0px 15px 0px rgba(0,0,0,0.20);
}




.shopHeader{
  position: relative;
  width: 90%;
  padding: 50px 0px;
  /* background-color: rgba(255, 0, 0, 0.085); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}


.backButton{
  position:absolute;
  left: 0; 

  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;

  align-items: center;
}

.newProductButton{
  position:absolute;
  right: 0; 

  font-size: 20px;
  font-weight: 500;
}

.revisado-header{
  position:absolute;

  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

  width: 200px;
  padding-bottom: 4px;
}
